@media (max-width: 1210px) {
  body {
    font-size: 16px;
  }

  .container-1 {
    padding-top: 80px;
  }
  .circle {
    top: 17vh;
    right: -25vh;
    min-width: 50%;
    min-height: 70%;
    background: linear-gradient(rgb(0, 0, 0) 20%, rgb(18, 32, 63));
    transform: scale(0.6);
  }

  .my-profile .text-cont {
    padding: 5vw 0vw 5vw 6vw;
  }
  .my-profile .text-cont p {   
    font-size: 1.2em;
    
  }
  strong {
    font-size: 1.7em;
  }
  .let::before {
    display: none;
  }
  .let::after {
    display: none;
    left: 30.1%;
  }

  .col-1 {
    padding: 0 auto;
  }
  .lang-text{
    margin-bottom: 20px;
  }
}

@media (max-width: 1010px) {
  body {
    font-size: 16px;
  }
  .container-1 {
    margin: 80px 80px 0;
    padding: 0;
  }
  .rectangle {
    font-size: 0.8em;
  }
  .col-2 {
    display: none;
  }

  .my-profile {
    padding: 8vh 12vw;
    display: flex;
    flex-direction: column;
  }
  .lang-text {
    font-size: 2.5em;
    /* margin-bottom: 60px; */
  }
  .my-profile .text-cont {
    font-size: 1.26em;
    padding: 10px;
    width: 100%;
  }
  .design {
    display: none;
  }
  .design-hidden {
    display: block;
  }
  .svg-cont {
    display: none;
  }
  .container-5 .detail {
    flex-direction: column;
  }
  .detail .contactForm {
    margin-top: 20px;
    margin-bottom: 30px;
    width: 100%;
    padding: 0px 2em;
  }
  .detail .handles {
    margin: 0 auto;
    padding: 0;
  }
  .my-profile .img-cont{
    width: 100%;
    text-align: center;
  }
  .my-profile .img-cont .img1 {
    margin: 0 auto 20px;
    width: 70%;
    height: 40vh;
  
  }
  .project-wall {
    max-height: 50vh;
  }
  .container-4 .col1 {
    font-size: 0.8em;
  }
  button.Lbtn,
  button.Rbtn {
    height: 1.2em;
  }
}
@media (max-width: 800px) {
  .hero {
    /* padding-top: 70px; */
    display: flex;
    align-items: center;
  }
  .header.active {
    position: fixed;
    overflow: visible;
  }

  .lang-text {
    margin: 20px auto;
    text-align: center;
    font-size: 2.1em;
    padding: 0;
  }
  .design {
    display: none;
  }
  .design-hidden {
    display: block;
  }
  .detail {
    flex-direction: row;
  }
  .container-5 {
    padding: 10%;
  }
  .col-1 {
    padding: 5px;
  }
  .overlap span {
    font-size: 4.5em;
  }

  header {
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(0px);
  }

  header .navigation {
    width: 60%;
    height: 100vh;
    display: none;
    position: fixed;
    top: 0;
    right: 0%;
    transform: translateX(100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(133, 101, 101, 0);
    backdrop-filter: blur(8px);
    transition: transform 0.3s ease-in-out;
  }
  .listBtn a {
    display: block;
    position: absolute;
  }
  .contactBtn {
    display: none;
  }
  header .navigation ul {
    display: flex;
    flex-direction: column;
  }
   header{
    overflow-y: hidden;
   }
  header .navigation.active {
    width: 70%;
    display: block;
    height: calc(100% -0);
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(0%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(0, 0, 0);
    transition: transform 0.3s ease-in-out;
    z-index: 99999;
  }
  header .navigation.active ul a {
    color: white;
  }

  header .navigation li {
    margin: 30px;
  }
  header .navigation li a {
    margin-bottom: 50px;
    color: #000;
    font-size: 2.6em;
  }
  header .navigation ul li a.home {
    color: white;
  }
  header .navigation ul li a.home:active {
    border-bottom: 5px solid #ff0157;
  }
  .menuToggle {
    position: relative;
    width: 40px;
    height: 40px;
    background: url(../image/menu.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 999999;
    filter: invert(1);
    transition: all 0.1s;
  }
  .menuToggle.active {
    position: absolute;
    right:3.8em;
    background: url(../image/exit.jpg);
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 999999;
    filter: invert(1);
    transition: all 0.1s;
  }

  .container-4 {
    padding: 2em 10em;
    flex-direction: column;
  }
  .container-4 .col1 {
    position: absolute;
    left: 5%;
    padding: 2em;
    min-width: 50%;
    backdrop-filter: blur(7px);
    z-index: 88;
  }
  .container-4 .col2 img {
    position: relative;
    right: -40%;
  }

  .upper {
    font-size: 1.5em;
    right: 6%;
    bottom: 4%;
  }
}

@media (max-width: 660px) {
  body {
    font-size: 12px;
  }
  .container-3 {
    padding: 50px;
  }
  .col-1 {
    padding: 70px 20px 40px;
    width: 90%;
  }
  .col-1 h4 {
    margin-bottom: 30px;
  }
  .col-2 {
    display: none;
  }
  .rectangle {
    width: 100%;
    font-size: 1em;
  }

  .container-1 {
    margin: 0 30px;
    width: 90vw;
  }
  .my-profile {
    padding: 10px;
  }

  .language {
    font-size: 0.8em;
    padding: 10px 20px;
  }
  .container-5 {
    padding: 0%;
  }
  .contactBtn {
    display: none;
  }
  header .logo {
    font-size: 2.5em;
  }

  .project-wall {
    min-height: 50vh;
  }

  .container-5 {
    font-size: 1.3em;
    padding: 60px;
  }

  .detail .handles {
    font-size: 0.7em;
    margin: 0 auto;
  }
  .detail .handles a {
    font-size: 4em;
  }
  .lang-text {
    font-size: 1.8em;
  }
  .container-3 .overlap {
    font-size: 0.8em;
  }
  .container-4 .col1 {
    border: 1px solid green;
    margin-top: 6em;
    font-size: 1.2em;
    left: 25%;
  }
  .container-4 .col1 h1 {
    font-size: 1.7em;
  }
  .container-4 .col1 h5 {
    font-size: 1em;
    margin: 15px 0 0 0;
  }
  .container-4 .col2 {
    text-align: center;
  }
  .container-4 .col2 img {
    position: relative;
    transform: scale(1.35);
    right: 10vh;
  }
  .Lbtn.active {
    left: 5%;
  }
  button.Rbtn {
   right: 5%;
  }
  .menuToggle.active {
    right: 5em;
  }
}
@media (max-width: 400px) {
  .container-1 {
    margin: 0 auto;
  }
   .header {
    padding: 40px 30px;
  }
  .about .overlap {
    font-size: 0.8em;
  }

  .col-1 {
    padding: 0;
  }
  .rectangle {
    font-size: 0.8em;
  }
  .container-5 {
    padding: 10% 5%;
  }
  .my-profile .img-cont .img1{
   min-width: 250px;
    
    height: 30vh;
  }
  .lang-text {
    text-align: center;
  }
  .detail .contactForm {
    padding: 0 2em;
    margin: 0 0 0 0;
  }
  .project-wall {
    min-height: 20vh;
  }
  .container-4 {
    top: 0%;
    padding: 10px;
  }
  .container-4 .col1 {
    padding: 10px 40px;
    min-width: 100%;
    position: relative;
    left: 0%;
    margin: 0;
  }
  .container-4 .col2 {
    display: none;
  }
  .menuToggle.active{
    right:10%;
  }
}
